{% extends "layout.html" %}
{% block title %}Đăng nhập{% endblock %}
{% block content %}
    <h1>Đăng nhập</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            <label class="form-label">{{ form.username.label }}</label>
            {{ form.username(class="form-control") }}
            {% for error in form.username.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label">{{ form.password.label }}</label>
            {{ form.password(class="form-control") }}
            {% for error in form.password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
{% endblock %}